@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Fira+Code:wght@300..900&display=swap');


@import './base.css';

:root {
  --color-gray: #c4c4c4; 
  --color-milk: #f2f2f2; 
}

::selection {
  background-color: var(--color-gray);
  color: var(--color-milk);
  text-shadow: none; 
}

::-moz-selection {
  background-color: var(--color-gray);
  color: var(--color-milk);
}
